.nav {
    grid-area: n;
    background-color: rgb(211, 134, 173);
    padding: 20px;
  }

  .item a {
    color: darkslateblue;
    text-decoration: none;
  }

  .item a.activeLink {
    color: white;
  }